@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Poppins:wght@700&display=swap');

.loginPage {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.loginPage h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

.loginPage main {
  display: flex;
}

.loginPage .cadernos, .login {
  height: 100vh;
}

.loginPage .cadernos {
  width: 50vw;
  background-image: url(./cadernos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.loginPage .login {
  width: 50vw;
  height: 100vh;
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginPage label {
  color: #21272A;
}

.loginPage input {
  margin-top: 5px;
  background-color: #F2F4F8;
  border: none;
  outline: none;
  border-bottom: 1px solid #C1C7CD;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.loginPage input[type="checkbox"] {
  width: 20px;
  margin: 0;
  cursor: pointer;
}

.loginPage button {
  margin: 40px 0;
  width: 100%;
  background-color: #FDB515;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  border: 0;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;
}

.loginPage button:hover {
  background-color: #daa42e;
}

.loginPage a {
  color: #FDB515;
  text-decoration: none;
  transition: 0.3s color ease-in-out;
}

.loginPage a:hover {
  color: #daa42e;
}

.loginPage .cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginPage .cabecalho img {
  height: 50px;
}

.loginPage .concordar {
  display: flex;
  align-items: center;
  justify-content: left;
}

.loginPage .concordar label {
  margin-left: 10px;
}

.loginPage hr {
  border: 1px solid #C1C7CD;
  width: 100%;
}

.loginPage .encaminhaCadastro {
  margin-bottom: 200px;
}